ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: -1;

  background :#50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

  li {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: fade_out(white, .85);
    bottom: -160px;

    -webkit-animation: square 30s infinite;
    -o-animation: square 30s infinite;
    animation: square 30s infinite;

    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;

    @for $item from 1 through 20 {
      $size: random(140) + 20;
      &:nth-child(#{$item}) {
        animation-delay: #{random(20)}s;
        animation-duration: #{random(25)+20}s;
        left: percentage((random(96) + 2) / 100);
        width: #{$size}px;
        height: #{$size}px;
        background-color: fade_out(white, ((random(4) + 5)) / 10.0);
      }
    }
  }

}

@-webkit-keyframes square {
  0%   { transform: translateY(-300px); opacity: 0;}
  25%  { opacity: 1; }
  100% { transform: translateY(-1400px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(-300px); opacity: 0;}
  25%  { opacity: 1; }
  100% { transform: translateY(-1400px) rotate(600deg); }
}